.calendar-container {
  padding: 10px;
  background: white;
  border-radius: 8px;
}

.custom-calendar {
  width: 100%;
  max-width: 100%;
  background: white;
  border: 1px solid #e2e8f0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  padding: 1em;
}

.custom-calendar .react-calendar__tile {
  padding: 1em 0.5em;
  position: relative;
  height: 100px;
}

.custom-calendar .react-calendar__month-view__days__day {
  color: #2D3748;
}

.custom-calendar .react-calendar__month-view__days__day--weekend {
  color: #E53E3E;
}

.custom-calendar .react-calendar__tile:enabled:hover,
.custom-calendar .react-calendar__tile:enabled:focus {
  background-color: #EDF2F7;
  color: #2D3748;
}

.custom-calendar .react-calendar__tile--now {
  background: #EDF2F7;
}

.custom-calendar .react-calendar__tile--now:enabled:hover,
.custom-calendar .react-calendar__tile--now:enabled:focus {
  background: #E2E8F0;
}

.custom-calendar .react-calendar__tile--active {
  background: #E9D8FD;
  color: #2D3748;
}

.custom-calendar .react-calendar__tile--active:enabled:hover,
.custom-calendar .react-calendar__tile--active:enabled:focus {
  background: #D6BCFA;
}

.custom-calendar .react-calendar__navigation button {
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}

.custom-calendar .react-calendar__navigation button:enabled:hover,
.custom-calendar .react-calendar__navigation button:enabled:focus {
  background-color: #EDF2F7;
}

.custom-calendar .react-calendar__navigation button[disabled] {
  background-color: #F7FAFC;
}

.custom-calendar .react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
  padding: 8px 0;
  color: #4A5568;
}

.custom-calendar .react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.custom-calendar .react-calendar__year-view .react-calendar__tile,
.custom-calendar .react-calendar__decade-view .react-calendar__tile,
.custom-calendar .react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
} 