.calendar-container {
  /* Container styles */
  padding: 10px;
  background: white;
  border-radius: 8px;
}

.custom-calendar {
  width: 100%;
  max-width: 100%;
  background: white;
  border: 1px solid #e2e8f0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.custom-calendar .react-calendar__tile {
  padding: 1em 0.5em;
}

/* Selected date style */
.custom-calendar .selected-date {
  background: #D53F8C !important;
  color: white !important;
}

.custom-calendar .react-calendar__tile--active {
  background: #D53F8C !important;
  color: white;
}

.custom-calendar .react-calendar__tile--now {
  background: #8A2BE2;
  color: white;
}

.custom-calendar .react-calendar__tile:enabled:hover,
.custom-calendar .react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

/* Override hover effect for selected dates */
.custom-calendar .selected-date:enabled:hover,
.custom-calendar .selected-date:enabled:focus {
  background: #D53F8C !important;
  opacity: 0.9;
}

.custom-calendar .react-calendar__tile--hasActive {
  background: #D53F8C;
}

.custom-calendar .react-calendar__tile--hasActive:enabled:hover,
.custom-calendar .react-calendar__tile--hasActive:enabled:focus {
  background: #D53F8C;
} 